{% extends "./base.html.twig" %}

{% block login %}{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('repairWorks') }}
{% endblock %}

{% block body %}
	<section class="intro">
		<div class="bg-image h-100">
			<div class="mask d-flex align-items-center h-100">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-12">
							<div class="card shadow-2-strong" style="background-color: #f5f7fa;">
								<div class="card-body">
									<div class="table-responsive">
										<table class="table table-borderless mb-0">
											<thead class="test">
												<tr class="row-title">
													<th scope="col">
														<div class="form-check">
															<input class="form-check-input" type="checkbox" value="" id="check-all"/>
														</div>
													</th>
													<th scope="col">Address</th>
													<th scope="col">Description</th>
													{# <th scope="col">Precinct</th> #}
													<th scope="col">Material</th>
													<th scope="col">Close</th>
												</tr>
											</thead>
											<tbody>
												{% for work in works %}
													<tr>
														<th scope="row">
															<div class="form-check">
																<input class="form-check-input" type="checkbox" value=""/>
															</div>
														</th>
														<td>{{ work.getAddress() }}</td>
														<td>{{ work.getDescription() }}</td>
														{# <td>61</td> #}
														<td>{{ work.getMaterial() }}</td>
														<td>
															<button type="button" class="btn btn-danger btn-sm px-3">
																<i class="fas fa-times"></i>
															</button>
														</td>
													</tr>
												{% endfor %}
											</tbody>
										</table>
										<div class="btns">
											<button type="button" class="btn btn-primary">Add</button>
											<button type="button" class="btn btn-success">Complete</button>
											<button type="button" class="btn btn-danger">Delete</button>
										</div>
									</div>
								</div>
							</div>
							{# <div class="test">TEST</div> #}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
